
## <summary>policy for ybtc</summary>


########################################
## <summary>
##	Transition to ybtc.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`ybtc_domtrans',`
	gen_require(`
		type ybtc_t, ybtc_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, ybtc_exec_t, ybtc_t)
')


########################################
## <summary>
##	Execute ybtc server in the ybtc domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ybtc_initrc_domtrans',`
	gen_require(`
		type ybtc_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, ybtc_initrc_exec_t)
')


########################################
## <summary>
##	Search ybtc lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ybtc_search_lib',`
	gen_require(`
		type ybtc_var_lib_t;
	')

	allow $1 ybtc_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read ybtc lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ybtc_read_lib_files',`
	gen_require(`
		type ybtc_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, ybtc_var_lib_t, ybtc_var_lib_t)
')

########################################
## <summary>
##	Manage ybtc lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ybtc_manage_lib_files',`
	gen_require(`
		type ybtc_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, ybtc_var_lib_t, ybtc_var_lib_t)
')

########################################
## <summary>
##	Manage ybtc lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ybtc_manage_lib_dirs',`
	gen_require(`
		type ybtc_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, ybtc_var_lib_t, ybtc_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a ybtc environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`ybtc_admin',`
	gen_require(`
		type ybtc_t;
		type ybtc_initrc_exec_t;
		type ybtc_var_lib_t;
	')

	allow $1 ybtc_t:process { ptrace signal_perms };
	ps_process_pattern($1, ybtc_t)

	ybtc_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 ybtc_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, ybtc_var_lib_t)

')

